<div class="card-status" fxLayout="row" fxLayoutAlign="center center">
  <div
    appButton
    appSize
    [size]="6"
    [matBadge]="status.value"
    matBadgeColor="accent"
    matBadgeSize="medium"
    (click)="onStatusCLick()"
  >
    <div class="status" appVariant [type]="status.type">
      <div class="icon-container">
        <kkl-icon [key]="status.svgUrl" [size]="3.5"></kkl-icon>
      </div>
    </div>
  </div>

  <div
    class="text-container"
    fxLayout="column"
    fxLayoutAlign="end start"
  >
    <kkl-typography [size]="1.2" [bold]="600">
      {{ status.label }}
    </kkl-typography>
  </div>
</div>

