<div class='form-input'>
  <mat-form-field
    [color]="question.theme"
    [ngClass]="{ 'input-slot': controlType === 'custom' }"
    [appearance]="control.disabled ? 'fill' : appearance || 'outline'"
  >
    <mat-label *ngIf="controlType !== 'custom'">{{ label }}</mat-label>

    <ng-container [ngSwitch]="controlType">
      <!-- TEXTAREA -->
      <ng-container *ngSwitchCase="'textarea'">
        <textarea
          matInput
          [rows]="gridProps?.rows * 2"
          [formControl]="control"
          [name]="question.key"
          (focusout)="validate()"
          #textarea
        ></textarea>
      </ng-container>

      <!-- SELECT -->
      <ng-container *ngSwitchCase="'select'">
        <mat-select
          panelClass="select-panel-form"
          overlayPanelClass="overlay-panel"
          [multiple]="question.multi"
          [disableOptionCentering]="true"
          (selectionChange)="onSelectChange()"
          [formControl]="control"
          [name]="question.key"
          (focusout)="validate()"
        >
          <mat-option
            *ngFor="let option of question.options"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </ng-container>

      <!-- AUTOCOMPLETE -->
      <ng-container *ngSwitchCase="'autocomplete'">
        <input
          type="text"
          matInput
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="onOptionSelected($event)"
        >
          <mat-option
            [disabled]="option.disabled"
            *ngFor="let option of (localFilter ? (filteredOptions | async) : question.options)"
            [value]="option.label"
          >
            <ng-container *ngIf="!optionsSlot">
              <kkl-typography>
                {{ option.label }}
              </kkl-typography>
            </ng-container>
            <ng-container *ngIf="optionsSlot">
              <ng-container
                *ngTemplateOutlet="
                  optionsSlot[question.key];
                  context: { $implicit: this.option }
                "
              ></ng-container>
            </ng-container>
          </mat-option>
        </mat-autocomplete>
      </ng-container>

      <!-- CLEAVE FORMAT -->
      <ng-container *ngSwitchCase="'cleave'">
        <input
          matInput
          autocomplete="off"
          [formControl]="control"
          [cleave]="question.cleave"
          [name]="question?.key"
          [type]="'text'"
          (focusout)="validate()"
          #input
        />
      </ng-container>

      <!-- TEXT/NUMBER -->
      <ng-container *ngSwitchDefault>
        <input
          matInput
          autocomplete="off"
          [formControl]="control"
          [name]="question?.key"
          [type]="controlType"
          (focusout)="validate()"
          #input
        />
      </ng-container>
    </ng-container>
    <kkl-icon
      *ngIf="icon"
      matSuffix
      [color]="color$ | async"
      [size]="1.8"
      [key]="icon"
    ></kkl-icon>
    <mat-error>{{ error$ | async }}</mat-error>
  </mat-form-field>
</div>

<!-- subscribe to autocomplete -->
<ng-container *ngIf="autocompleteValue$ | async"></ng-container>
