.container{
    display: flex;
    flex-direction: column;
    width: max-content;
    box-sizing: border-box;
}

.headline{
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    background-color: #f3f3f3; 
    padding:2px 5px ;
}


.headline{
    box-sizing: border-box;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 2px; 
} 