<div class="container">
  <!-- binding costume events:
  much like regular event binding, but I declare an event within the child component and I insert the name of the event within the braces,
  and the value between the double quotes is the function declared in the parent component (exactly like regular event binding),
  the $event is passing data with the function up to the parent component -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (eventName2)="eventName3($event)"></app-cockpit>
  <hr>
  <!-- binding with square brackets to any name I choose to call the value i'm passing to the child component,
     much like the react syntax: givenName={value} -->
  <div class="row">
    <div class="col-xs-12">
      <!-- Change First Element button and Destroy First Element button are added to show life cycle methods in action -->
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Element</button>
      <app-server-element
        *ngFor="let serverElementName1 of serverElements"
        [serverElementName2]="serverElementName1.name">
        <!-- adding [name]="serverElementName1.name" directly as a simple value, to show ngOnChanges lifecycle method actions
          (if it remained an object, than it would still refer to the same object and no changes would be detected) -->

        <!-- between the opening and closing tags of app-server-element, I'm passing a paragraph element that would be used by the app-server-element -->
        <p #contentParagraph>
          <strong *ngIf="serverElementName1.type === 'server'" style="color: red">{{ serverElementName1.content }}</strong>
          <em *ngIf="serverElementName1.type === 'blueprint'">{{ serverElementName1.content }}</em>
        </p>

      </app-server-element>
      <!-- Assignment 4: Practicing Property & Event Binding and View Encapsulation - game control -->
      <!-- <hr>
      <app-game-control (everySecond)="onEverySecond($event)"></app-game-control>
      <app-odd *ngFor="let odd of oddNumbers" [odd]="odd"></app-odd>
      <app-even *ngFor="let even of evenNumbers" [even]="even"></app-even>
      <hr> -->
    </div>
  </div>
</div>
