<div fxLayout="row-reverse" fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutGap="1.5rem">
    <div fxLayout="row-reverse">
      <kkl-typography
        *ngFor="let item of headerItems$ | async; let last = last"
        [size]="item.size"
        [color]="item.color"
        class="header-text"
        [ngClass]="{ 'header-text': !last }"
      >
        {{ item.text }}
      </kkl-typography>
    </div>
    <div>
      <kkl-typography *ngIf="formOpen"> {{ comment$ | async }}</kkl-typography>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="3rem">
    <div (click)="toggleEdit()" class="edit">
      <kkl-typography [size]="'1.8'" [color]="'primary'">עריכה</kkl-typography>
    </div>
    <kkl-icon
      matTooltip="הורדת קובץ אקסל"
      (click)="downloadExcel()"
      class="download"
      [key]="'excal'"
      [color]="'primary'"
    ></kkl-icon>
  </div>
</div>
