@use "variables" as main;

:host {
  width: 100%;
}

.header-text {
    box-sizing: border-box; 
  &:before {
    content: "•";
    padding: 3px;
    font-size: 20px;
    color: main.$primary;
  }
}



.edit,
.download {
  box-shadow: main.$box-shadow-gray ;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
} 
