<div class="main" dir="rtl">
  <div class="container">
    <div class="header">
      <div class="title">
        <h1>איסוף זרעים</h1>
      </div>
      <div class="btn">
        <a href="collect-seeds/iframe">
          <button mat-button>+ הוסף איסוף חדש</button></a
        >
      </div>
    </div>

    <div class="search-bar">
      <kkl-form-autocomplete
        fxFill
        [question]="question"
        [options$]="options$"
        [control]="control"
      >
      </kkl-form-autocomplete>
    </div>

    <div class="table">
      <kkl-table
      [data$]="data$"
      [columns$]="columns$"
      [model]="model"
      [options]="options"
      [hasState]="true"
      [hasStatus]="true"
      [filterable]="true"
      [rowSlots]="{status,lastPic,actions,objectid,diaryDate}"
      [rowsState$]="rowsState$" 
      [columnsState$]="columnsState$"
      [hasActions]="true"
      (filter)="getFiltersOfTable($event)"
      (sortChange)="onSortChange($event)"
      (filterAutocomplete)="onFilterAutocomplete($event)"
      >
      </kkl-table>
      <!-- <kkl-table
        [data$]="data$"
        [columns$]="columns$"
        [model]="model"
        [options]="options"
        [hasActions]="true"
        [rowSlots]="{status,lastPic,actions,objectid,diaryDate}" 
        [hasState]="true"
        [rowsState$]="rowsState$"
        [filterable]="true"
        [formSlots]="{}"
      >
      </kkl-table> -->
    </div>
    <div class="bottom-icon">
      <div fxLayout="column" fxLayoutAlign="center center">
        <kkl-icon
          type="svg"
          [size]="20"
          [key]="'tree_top_gradient_mpk'"
        ></kkl-icon>
      </div>
    </div>
  </div>

  <ng-template #actions let-row="row" let-column="column" let-panel="panel">
    <div fxLayout="row" fxLayoutAlign="end center" dir="rtl">
      <kkl-table-actions
        fxFill
        [row]='row'
        [events$]="events$"
        [options]="{row, column, panel}"
        [hasDelete]="true"
        [editable]="row.editable"
        [startSlot]="actionsT"
        (edit)="onEditState(row)"
        (delete)="onDeleteState({row, event})"
        (save)="onSaveContact(row, $event)"
      ></kkl-table-actions>
    </div>
  </ng-template>

  <ng-template #actionsT let-row='row'>
    <button mat-icon-button (click)="show(row)">
      <kkl-icon matTooltip="צפה" [size]="2" size="2" [key]="'eye'" > </kkl-icon>
    </button>
    <button mat-icon-button>
      <kkl-icon matTooltip="קובץ" [size]="2" size="2" [key]="'file'"></kkl-icon>
    </button>
  </ng-template>

  <ng-template #status let-row="row">
    <div class="status" fxFlex="40">
      <kkl-status
        fxFlex="100"
        [height]="0.4"
        [cols]="3"
        appButton
        [status]="row.item.status"
      ></kkl-status>
    </div>
  </ng-template>

  <ng-template #objectid let-row="row">
    <span appButton appBorder appColor side="bottom" color="primary">{{
      row.item.objectid 
    }}</span> 
  </ng-template>
</div>
<ng-template #diaryDate let-row="row">
  <kkl-typography>
    {{ row.item.diaryDate | date: "dd/MM/yyyy" }}
  </kkl-typography>
</ng-template>
<ng-template #lastPic let-row="row">
  <kkl-typography> {{ row.item.lastPic | date: "dd/MM/yyyy" }} </kkl-typography>
</ng-template>
