<button
  (click)="onOpen()"
mat-raised-button appBorder color="default">
  <kkl-typography> raised default </kkl-typography>
</button>
<button mat-raised-button appBorder color="primary">
  <kkl-typography> raised primary </kkl-typography>
</button>
<button mat-raised-button appBorder color="accent">
  <kkl-typography> raised accent </kkl-typography>
</button>

<button matTooltip="ספק זוכה" mat-icon-button kkl-action-button>
  <kkl-icon [size]="2" [key]="'nike'"></kkl-icon>
</button>
<button matTooltip="ספק לא זוכה" mat-icon-button kkl-action-button>
  <kkl-icon [size]="2" [key]="'clear'" [color]="'warn'"></kkl-icon>
</button>
<button matTooltip="הדפס" mat-icon-button kkl-action-button>
  <kkl-icon
    [size]="2"
    [key]="'print'"
    [color]="'primary'"
  ></kkl-icon>
</button>
