@use "variables" as main;

mat-list-item {
    height: 4rem !important;
    font-size: 1.4rem !important;

    &.active {
      background-color: main.color(primary);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      color: main.color(paper) !important;
      width: 90%;
    }
  }
