@use "variables" as main;

mat-radio-group,
div {
  width: 100%;
  height: 100%;
}
.form-radio {
  ::ng-deep .mat-radio-outer-circle {
    border-color: #CECECE!important;
  }
}
::ng-deep span.mat-radio-label-content {
  padding-right: main.spacing(2) !important;
}
