<div class="spatial-tooltip">
    <button mat-button [matMenuTriggerFor]="menu" class="spatial-header__left-file-transfer">
        <svg-icon src="assets/images/excel-icon.svg" class="excel-icon"></svg-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <div class="menu-icon">
                <svg-icon class="spatial-tooltip__upload-svg" src="assets/images/spatial-shape.svg"></svg-icon>
            <span class="spatial-tooltip__upload-text">העלאת קובץ</span>
            </div>
        </button>
        <button mat-menu-item>
            <div class="menu-icon">
                <svg-icon class="spatial-tooltip__upload-svg" src="assets/images/spatial-shape.svg"></svg-icon>
                <span class="spatial-tooltip__upload-text">הורדת קובץ</span>
            </div>
        </button>
      </mat-menu>
</div>