@use "variables" as main;

.sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  margin: 0px !important;
  overflow-x: hidden;
}

::ng-deep mat-sidenav {
  &.menu {
    width: main.$menu-width;
    top: main.$toolbar-height;
    height: main.$content-height;

    div.menu-container {
      height: inherit;
      padding-right: main.spacing(1);
    }
  }

  &.wizard-sidenav {
    background-color: transparent !important;
    width: main.$wizard-width;
    height: 100%;
    border: none;

    div.wizard-container {
      height: 100%;
      width: inherit;

      .wizard {
        background-color: main.color(paper);
        width: inherit;

        .steps-container {
          padding-top: main.spacing(1);
          padding-bottom: main.spacing(1);
        }
      }
    }
  }
}
