<div class="order-plants">
  <app-order-plants-complete-header
    [isOpend]="false"
    [title]="'תכנית ייצור יער משקי'"
  ></app-order-plants-complete-header>
  <div class="order-plants__treeTypes">
    <div
      class="order-plants__treeTypes-filter"
      *ngFor="let item of treeTypes; let i = index"
      [ngClass]="{ chosen: 'all' === item.filterValue }"
    >
      <span class="order-plants__treeTypes-filter-text">{{ item.name }}</span>
      <span class="order-plants__treeTypes-filter-number">{{
        item.count
      }}</span>
      <svg-icon
        class="order-plants__treeTypes-filter-svg"
        src="{{ item.urlSrc }}"
      ></svg-icon>
    </div>
  </div>

  <app-new-order-plants-table [treeTypes]="treeTypes" (changeFilter)="changeFilter($event)"></app-new-order-plants-table>

  <!-- <app-order-plants-table
    (filterUpdate)="updateTreeTypes($event)"
  ></app-order-plants-table> -->

  <app-bottom-navigation
  [continueBtnText]='"שמור"'
    (changePage)="bottomNavigaitonHandler($event)"
  ></app-bottom-navigation>
</div>
