<kkl-navbar fxFlex='100' openIcon="tree_gradient_tac" [logos]="logos"></kkl-navbar>

<kkl-dashboard  [cards]="cards"></kkl-dashboard>


<!-- <kkl-stepper-layout (emitEndDrawerBtn)="onEndDrawerEmitted()" [portion$]="portion$" [drawerSize$]="drawerSize$"
    [hasTitle]="true" (changeStep)="onChangeStep($event)" [drawerBtn]="{ icon: 'bell', label: 'תזכורת' }">
    <kkl-page-headline title [slots]="{statusBar}"></kkl-page-headline>
    <ng-template #statusBar let-row="row">
        <kkl-status-bars [status]="status"></kkl-status-bars>
    </ng-template>

    <router-outlet content></router-outlet>
    <div endDrawerContent>replace this content with your own feature</div>
    <kkl-navbar-bottom bottom-navbar [bottomIcon]="'bottom_tree_tac'" [hasNext]="true" [hasSave]="true"
        [showSave$]="showSave$" (previous)="onPrevious()" (next)="onNext($event)" [stepper]="true">
    </kkl-navbar-bottom>
</kkl-stepper-layout> -->
