<div class="links themed-element" [dir]="'rtl'">
  <kkl-card-user></kkl-card-user>
  <mat-accordion class="menu">
    <mat-expansion-panel
      class="mat-elevation-z0"
      *ngFor="let list of (menu$ | async); let i = index"
    >
      <mat-expansion-panel-header *ngIf="list.label">
        <div mat-subheader>
          <kkl-typography variant="button" color="primary" [bold]="600">
            {{ list.label }}
          </kkl-typography>
        </div>
      </mat-expansion-panel-header>
      <mat-list color="primary">
        <kkl-menu-item
          *ngFor="let link of list?.links; let i = index"
          [link]="link"
          (click)="onLinkClick(link, list.prefix)"
        ></kkl-menu-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-list>
    <mat-list-item appButton>
      <mat-icon color="primary" mat-list-icon>{{ logoutItem.svgUrl }}</mat-icon>
      <div class="logout" mat-line>
        <kkl-typography variant="button" color="primary" [bold]="600">
          {{ logoutItem.label }}
        </kkl-typography>
      </div>
    </mat-list-item>
  </mat-list>
</div>
