@use "variables" as main;


.step-label {
  padding-top: main.spacing(1);
}

div.status-bar {
  border-radius: 1px;
  border: 0 !important;
  height: main.spacing(.3);
  width: 100%;
  background-color: #DBDBDB;

  &.active {
    background-color: main.color(accent);
  }
}
