/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

$--green-color-dark: #0d916d;
$--green-color-bright: #00c466;
$--blue-color-bright: #448ECD;
$--box-shadow-one: 0px 3px 10px 2px rgb(0 0 0 / 20%);

html,
body {
  height: 100vh;
  box-sizing: border-box;
  font-size: 10px;  
  background-color: black;
}

::ng-deep .mat-option{
text-align: right !important;
font-size:16px
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans hebrew", "Helvetica Neue", sans-serif !important;
  src: url('assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf') format("opentype");
  box-sizing: border-box;

}

app-pagination-new {
  width: 100%;
}

.education{
  background-color: #448Ecd;
} 

@media screen and (max-width: 1024px) {
  html, body {
    font-size: 8px !important;  
  } 
}


@media screen and (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  html {
    font-size: 8px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  html {
    font-size: 10px;
  }
}
