<div class="spatial-production">
  <app-spatial-header
    (toggleEdit)="toggleEditHandler()"
    [titleObj]="titleObj"
    [isOpend]="isOpend"
  ></app-spatial-header>
  <app-spatial-form
    (toggleEdit)="toggleEditHandler()"
    [isOpend]="isOpend"
    *ngIf="!isOpend"
    (updateTitle)="titleObjHandler($event)"
  ></app-spatial-form>
  <!-- <app-spatial-table [isOpend]="isOpend"></app-spatial-table> -->
  <!-- <app-spatial-table-filters></app-spatial-table-filters> -->
  <app-new-spatial-table ></app-new-spatial-table>
</div>