<div class="production-process">
<div class="production-process__header">
    <button   class="production-process__header-button" routerLink="/forestry/add-production-process">הוסף תוכנית חדשה <span class="production-process__header-button-plus" > + </span> </button>
    <p class="production-process__header-headline">תוכניות ייצור</p>    
</div>
    <div class="production-process__main-contnet">
        <app-process-form></app-process-form>

        <!-- <app-process-table></app-process-table> -->
        <app-new-production-process></app-new-production-process>
    </div>
</div>