<div class="filter"
  [ngClass]="{'chosen' : filter.filterValue === filterValue}"
fxLayout="column" fxLayoutAlign="space-evenly center">
    <kkl-icon
      [color]=" filter.filterValue === filterValue ? 'paper':'primary'"
      [key]="filter.svgUrl"
      class="filter-svg"
      [ngClass]="{'chosen-svg' : filter.filterValue === filterValue}"

    ></kkl-icon>
    <kkl-typography  size="1.8">
      {{ filter.label }}
    </kkl-typography>
    <kkl-typography  size="1.8">
      {{ filter.value }}
    </kkl-typography>
  </div>