<!-- <div class="form">
  <p class="form__headline">יחידות עבודה לדילול</p>
  <form #f="ngForm">
    <div
      class="form__field"
      *ngFor="let input of inputFields; let i = index"
      disableOptionCentering="false"
    >
      <div class="form__field-label">{{ input.name }}</div>
      <mat-form-field>
        <mat-select>
          <mat-option value="option1" *ngFor="let option of input.options">{{
            option.option
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form__field">
      <div class="form__field-label">מספר יחידות עבודה</div>
      <mat-form-field id="input">
        <input matInput type="text" />
      </mat-form-field>
    </div>
 
    <div></div>
    <a class="form__link" routerLink="/forestry/results"
      ><span class="form__link-text"> חפש</span></a
    >
  </form>
</div> -->
