<div fxLayout="column" fxLayoutAlign="center center" dir="rtl" class="dashboard">
  <div fxLayout="row">
    <div class="container" fxLayout="column" fxLayoutAlign="center center"
      [fxFlex]="(((md$ | async) ? 16 : 20) * cols) + 'rem'">
      <div [fxFlex]="'8rem'">
        <kkl-typography [bold]="600" [size]="3">{{ moduleTitle }}</kkl-typography>
      </div>
      <div fxLayout="row wrap" [fxFlex]="(((md$ | async) ? 16 : 20) * rows) + 'rem'">
        <div class="card" *ngFor="let card of cards; let i = index" appSize [size]="((md$ | async) ? 16 : 20)"
          (click)="onCardClick(card)">
          <kkl-card-dashboard [card]="card"> </kkl-card-dashboard>
        </div>
      </div>
    </div>
  </div>
</div>
