@use "variables" as main;

:host, kkl-stepper {
  width: 100%;
  height: 100%;
}

mat-toolbar {
  background-color: main.color(paper);
}

div {
  height: main.$content-height;
}

.card {
  padding: 1rem;
  box-sizing: border-box;
}


/* Mobile  ----------- */
@media screen and (max-width: 600px) {
  div {
    height: calc( main.$content-height - 56px);
  }

}
