@use "variables" as main;

span.fontFamily {
  font-family: "open sans hebrew", "Helvetica Neue", sans-serif !important;
  src: url("../../../../assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf")
    format("opentype") !important;
}


 span.typography  {
      
     line-height: 1.8rem !important;

}
