<div class="new-add-bee-plan-table">
  <kkl-table
    [data$]="data$"
    [columns$]="columns$"
    [model]="model"
    [options]="options"
    [hasState]="true"
    [hasStatus]="true"
    [filterable]="false"
    [rowsState$]="rowsState$"
    [columnsState$]="columnsState$"
    [hasActions]="true"
    [rowSlots]="{actions}"
    [formSlots]="{
      ashtaol: ashtaolInput,
      gilat: gilatInput,
      golani: golaniInput
    }"
  >
  </kkl-table>
</div>

<ng-template
  #ashtaolInput
  let-row="row"
  let-control="control"
  let-column="column"
  let-question="question"
>
  <kkl-form-input
    [ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
    [question]="column.question"
    [control]="control"
  ></kkl-form-input>
</ng-template>

<ng-template
  #gilatInput
  let-row="row"
  let-control="control"
  let-column="column"
  let-question="question"
>
  <kkl-form-input
    dir="rtl"
    [ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
    [question]="column.question"
    [control]="control"
  ></kkl-form-input>
</ng-template>

<ng-template
  #golaniInput
  let-row="row"
  let-control="control"
  let-column="column"
  let-question="question"
>
  <kkl-form-input
    [ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
    [question]="column.question"
    [control]="control"
  ></kkl-form-input>
</ng-template>

<ng-template #actions let-row="row" let-column="column" let-panel="panel">
  <ng-container *ngIf="events$ | async as event">
    <div fxLayout="row" fxLayoutAlign="end center" dir="rtl">
      <kkl-table-actions
        fxFill
        [row]="row"
        [events$]="events$"
        [options]="{row, column, panel}"
        [hasDelete]="true"
        [hasEdit]="false" 
        [editable]="row.editable"
        (edit)="onEditState(row)"
        (cancel)="onCancelEvent(row, event)"
        (delete)="onDeleteState({row, event})"
        (save)="onSaveContact(row, $event)"
      ></kkl-table-actions>
    </div>
  </ng-container>
</ng-template>
