@use "variables" as main;

mat-form-field {
  width: 100%;
  font-size: 12px !important;
}

::ng-deep .autocomplete-option {
  font-size: 1.5rem!important;
}

::ng-deep .autocomplete-option > div {
  flex-direction: row!important;
  gap:1rem;
}

@media screen and (max-width: 1024px) {
  mat-form-field {
    font-size: 9px !important;
  }
}
