<div
  class="location"
  fxLayout="column"
  [fxLayout.gt-sm]="isDrawerOpen ? 'column' : 'row'"
>
  <div fxFlex="nogrow">
    <span class="headline">
      <kkl-typography
        fxFlex="nogrow"
        [color]="'primary'"
        [size]="1.6"
        [bold]="700"
        appBorder
        side="bottom"
        borderColor="primary"
        [thick]="1"
        [padding]="0.8"
      >
        כמות הזרעים</kkl-typography
      >
      <kkl-typography
        fxFlex
        [size]="1.6"
        appBorder
        side="bottom"
        borderColor="successLight"
        [thick]="1"
        [padding]="0.8"
      >
      </kkl-typography>
    </span>

    <span
      class="main"
      fxLayout="row"
      [fxLayout.gt-sm]="isDrawerOpen ? 'row' : 'column'"
      fxLayoutAlign="space-between start"
    >
      <app-headline-text
        class="main__item"
        *ngFor="let item of inventoryHeadlines"
      >
        <kkl-typography class="header" header [bold]="700">
          {{ item.value }}
        </kkl-typography>
        <kkl-typography class="main" main [bold]="500">
          {{ inventoryDetails[item.key] }}</kkl-typography
        >
      </app-headline-text>
    </span>
  </div>

  <div class="table" fxFlex="auto">
    <span class="headline" fxLayout="row">
      <kkl-typography
        fxFlex="nogrow"
        [color]="'primary'"
        [size]="1.6"
        [bold]="700"
        appBorder
        side="bottom"
        borderColor="primary"
        [thick]="1"
        [padding]="0.8"
      >
        ניהול מלאי
      </kkl-typography>
      <kkl-typography
        fxFlex
        [size]="1.6"
        appBorder
        side="bottom"
        borderColor="successLight"
        [thick]="1"
        [padding]="0.8"
      >
      </kkl-typography>
    </span>
    <kkl-table
      [data$]="data$"
      [columns$]="columns$"
      [model]="model"
      [options]="options"
      [rowSlots]="{}"
      [hasState]="false"
      [rowsState$]="rowsState$"
      [filterable]="false"
      [formSlots]="{}"
    >
    </kkl-table>
  </div>
</div>
