<div class="mat-elevation-z8 production-process-table">
  <table mat-table [dataSource]="dataSource">
  

    <!-- planType Column -->
    <ng-container matColumnDef="planType">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button >סוג תוכנית
        </button>
        <!-- <mat-icon>keyboard_arrow_down</mat-icon>
        [matMenuTriggerFor]="programType" -->
        <mat-menu #programType="matMenu">
          <button mat-menu-item *ngFor='let item of programTypeArray'>{{item}}</button>
        </mat-menu>
      </mat-header-cell >
      <mat-cell (click)="changeTochnitYetzur(element)" *matCellDef="let element">{{ element.sugTochnit }}</mat-cell>
    </ng-container>
    <!-- season Column -->
 
    <ng-container matColumnDef="season">
      <mat-header-cell *matHeaderCellDef>
   <button mat-button >עונת נטיעה</button> 
                <!--  <mat-icon>keyboard_arrow_down</mat-icon> --> 
                <!-- [matMenuTriggerFor]="plantingSeason" -->
        <!-- <mat-menu #plantingSeason="matMenu">
          <button mat-menu-item *ngFor='let item of plantingSeasonArray'>{{item}}</button>
        </mat-menu> -->
      </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="changeTochnitYetzur(element)">
        <div class="season">
          <span class="season-text" > {{ element.onatNetia }}</span>
         <!-- <span class="season-year" *ngIf="element.onatNetia.isShmita" [ngStyle]="{
              color: element.onatNetia.isShmita ? '#009EEE' : 'transparent'
            }">
            שנה לפני שנת שמיטה</span> -->
        </div>
      </mat-cell>
    </ng-container>
    <!-- gardening Column -->
    <ng-container matColumnDef="gardening">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button >משתלה
        </button>
        <!-- <mat-icon>keyboard_arrow_down</mat-icon>
        [matMenuTriggerFor]="nursery" -->
        <mat-menu #nursery="matMenu">
          <button mat-menu-item *ngFor='let item of nurseryArray'>{{item}}</button>
        </mat-menu>
      </mat-header-cell>
      <mat-cell (click)="changeTochnitYetzur(element)" *matCellDef="let element">{{ element.mashtela }}</mat-cell>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button >סטטוס
        </button>
        <!-- <mat-icon>keyboard_arrow_down</mat-icon>
        [matMenuTriggerFor]="status" -->
        <mat-menu #status="matMenu">
          <button mat-menu-item *ngFor='let item of statusArray'>{{item}}</button>
        </mat-menu>
      </mat-header-cell>
      <mat-cell (click)="changeTochnitYetzur(element)" *matCellDef="let element">{{ element.status }}</mat-cell>
    </ng-container>

    <!-- lastUpdated Column -->
    <ng-container matColumnDef="lastUpdated">
      <mat-header-cell *matHeaderCellDef> <button mat-button>תאריך עדכון אחרון
        <!-- <mat-icon>keyboard_arrow_down
          </mat-icon> -->
        </button></mat-header-cell>
      <mat-cell  (click)="changeTochnitYetzur(element)" *matCellDef="let element">{{ element.modifiedDate}}</mat-cell>
    </ng-container>

    <!-- controllers Column -->
    <ng-container matColumnDef="controllers">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-cell-controllers">
        <div class="controllers" *ngIf='!element.controllers'>
          <span class="controllers-edit" (click)="changeTochnitYetzur(element)">עריכה</span>
          <span class="controllers-delete" (click)="deleteTochnitYetzur(element.id)">מחיקה</span>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <app-pagination *ngIf="pagesCount>0 && listOfTAble>7" (newPage)="updateTableArray($event)" [pagesCount]="pagesCount" paginationCount="7" currentPage="1">
  </app-pagination>
   <!-- <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
  ></mat-paginator>   -->
</div>