<div fxFill class="table">
  <kkl-expand-table
    #table
    [data$]="data$"
    [columns$]="columns$"
    [model]="model"
    [expendable]="true"
    [hasState]="true"
    [filterable]="true"
    [hasActions]="false"
    [selectable]="selectable"
    [options]="options"
    [rowsState$]="rowsState$"
    [columnsState$]="columnsState$"
    [rowSlots]="{areaActions}"
    [expandSlots]="{
      areaActions: expandingArea
    }"
    [formSlots]="{}"
    (sortChange)="onSortChange($event)"
  >
  </kkl-expand-table>
  <!-- <ng-container *ngIf="supplierLength$ | async as length">
      <div class="loading">
        <kkl-typography> לא נבחרו ספקים </kkl-typography>
      </div>
    </ng-container> -->
</div>

<ng-template #expandingArea let-row="row" let-column="column" let-panel="panel">
  <app-area-actions-table></app-area-actions-table>
</ng-template>

<ng-template let-row="row" let-column="column" let-panel="panel" #areaActions>
  <span
  class="area-actions"
    appButton
    appBorder
    appColor
    side="bottom"
    color="primary"
    (click)="onExpand({ row, column: this.column, options : {panel, key : 'id'} })"
    [activeColumnDef$]="activeColumnDef$"
    >{{ row.item.areaActions }}</span
  >
  <!-- <kkl-typography appButton appBorder side='bottom' color="primary" (click)='contestNameClicked(row)'>{{ row.item.contestName }}</kkl-typography> -->
</ng-template>
