<div class="new-order-plantes-complete-table-all">
  <kkl-table
    [data$]="data$"
    [columns$]="columns$"
    [model]="model"
    [options]="options"
    [hasState]="true"
    [hasStatus]="true"
    [filterable]="false"
    [rowsState$]="rowsState$"
    [columnsState$]="columnsState$"
    [hasActions]="true"
    [rowSlots]="{actions}"
    [headerSlots]="{ actions: actionsHeader }"
    [formSlots]="{
        ashtaol: ashtaolInput,
        gilat: gilatInput,
        golani: golaniInput
      }"
  >
  </kkl-table>
</div>
<ng-template
  #ashtaolInput
  let-row="row"
  let-control="control"
  let-column="column"
  let-question="question"
>
<kkl-form-input
[ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
[question]="column.question"
[control]="control"

></kkl-form-input>
</ng-template>

<ng-template
#gilatInput
let-row="row"
let-control="control"
let-column="column"
let-question="question"
>
<kkl-form-input
dir="rtl"
[ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
[question]="column.question"
[control]="control"

></kkl-form-input>
</ng-template>
<ng-template
#golaniInput
let-row="row"
let-control="control"
let-column="column"
let-question="question"
>
<kkl-form-input
[ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
[question]="column.question"
[control]="control"

></kkl-form-input>
</ng-template>

<ng-template #actionsHeader let-row="row"> 
<div class="header-icons" fxFill fxLayout="row" fxLayoutAlign="end center">
   <div >
    <svg-icon
    [ngClass]='{"chosen-icon":!this.showShortTable
  }'
      class="list-icon "
      src="assets/images/awesome-user.svg"
      (click)="emitShowShortTable(true)" 
      ></svg-icon>
      <svg-icon
      [ngClass]='{"chosen-icon":this.showShortTable}'
      class="list-icon"
      src="assets/images/flower.svg"
      (click)="emitShowShortTable(false)"
    ></svg-icon>
  </div>
  </div>

</ng-template>

<ng-template #actions let-row="row" let-column="column" let-panel="panel">
  <ng-container *ngIf="events$ | async as event">
  <ng-container *ngIf="!this.showShortTable">
  
    <div fxLayout="row" fxLayoutAlign="end center" dir="rtl">
      <kkl-table-actions
        fxFill
        [row]="row"
        [events$]="events$"
        [options]="{row, column, panel}"
        [hasDelete]="true"
        [editable]="row.editable"
        (edit)="onEditState(row)"
        (cancel)="onCancelEvent(row, event)"
        (delete)="onDeleteState({row, event})"
        (save)="onSaveContact(row, event)"
      ></kkl-table-actions>
    </div>
  </ng-container>
  </ng-container>
</ng-template>
