
<div class="form" *ngIf= "isListsFull==true">
  <p class="form__headline">יחידות עבודה לדילול</p>
  <form #f="ngForm" [formGroup]="WorkUnitsForDilutionForm">
 
          <div
      class="form__field form-group"
      disableOptionCentering="false"
    >
    <div class="form__field-label">שנת תוכנית עבודה</div>
    <mat-form-field class="form-control">
      <mat-select  formControlName="yearOfWorkPlanName"  (selectionChange)="changeList($event)" >

        <mat-option value=""  [value]="option.yearOfWorkPlanCode"   *ngFor="let option of YearOfWorkPlansList">{{
          option.yearOfWorkPlanName
        }}</mat-option>
      </mat-select> 
   
      </mat-form-field>
          </div>
      <div
      class="form__field form-group"
      disableOptionCentering="false"
    >
    <div class="form__field-label">סטטוס</div>
    <mat-form-field class="form-control">
      <mat-select  formControlName="statusName"  (selectionChange)="changeList($event)">
    
        <mat-option value=""  [value]="option.statusCode"   *ngFor="let option of StatusesList">{{
          option.statusName
        }}</mat-option>
      </mat-select> 
        <span class="error-text" *ngIf="WorkUnitsForDilutionForm.get('statusName').hasError('required')">שדה חובה</span>
      </mat-form-field>
      </div>
    <div
    class="form__field form-group"
    disableOptionCentering="false"
  >
  <div class="form__field-label">מרחב</div>
  <mat-form-field class="form-control">
    <mat-select  formControlName="merchavName"  (selectionChange)="changeList($event)" >
 
      <mat-option value=""  [value]="option.merchav_co"   *ngFor="let option of MerchavimList">{{
        option.merchav_na
      }}</mat-option>
    </mat-select> 

    </mat-form-field>
    </div>
    <div
    class="form__field form-group"
    disableOptionCentering="false">
    <div class="form__field-label">אזור</div>
    <mat-form-field class="form-control">
      <mat-select  formControlName="ezorName"  (selectionChange)="changeList($event)">
     
        <mat-option value=""  [value]="option.ezor_code"   *ngFor="let option of EzorimList">{{
          option.ezor_name
        }}</mat-option>
      </mat-select> 
     
      </mat-form-field>
    </div>
    <div
    class="form__field form-group"
    disableOptionCentering="false">
    <div class="form__field-label">יער</div>
    <mat-form-field class="form-control">
      <mat-select  formControlName="yaarName"  (selectionChange)="changeList($event)"    >
     
        <mat-option value=""  [value]="option.foR_Num"   *ngFor="let option of YaarotList">{{
          option.foR_Name
        }}</mat-option>
      </mat-select> 
  
      </mat-form-field>
    </div>
    <div class="form__field form-group">
      <div class="form__field-label">מספר יחידות עבודה</div>
      <mat-form-field id="input">
        <input class="form-control" formControlName="IDNumWorkForPlan" matInput type="text"  [ngClass]="{ 'field-error': !WorkUnitsForDilutionForm.get('IDNumWorkForPlan').valid }"/>
      </mat-form-field>
  
      <span *ngIf="WorkUnitsForDilutionForm.get('IDNumWorkForPlan').hasError('onlyDigit')" class="error-text">
                    מספרים בלבד
                </span>
    </div>
    <div></div>
     <a type="submit" (click)="onSubmit()" class="form__link" 
      ><span class="form__link-text"> חפש</span></a> 
   
  </form>
</div>
<app-spinner-old *ngIf= "isListsFull==false"  ></app-spinner-old>


   


