<div class="location" fxLayout="column"
  [fxLayout.gt-sm]="isDrawerOpen ? 'column' : 'row'"
>
  <span 
    class="main"
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    [fxFlex]="isDrawerOpen ? 33 : '40'"
  >
    <app-headline-text
      class="main__item"
      fxFlex="33"
      *ngFor="let item of locationHeadlines"
    >
      <kkl-typography class="header" header [bold]="700">
        {{ item.value }}
      </kkl-typography>
      <kkl-typography class="main" main [bold]="500">
        {{ locationDetails[0][item.key] }}</kkl-typography
      >
    </app-headline-text>
  </span>

  <hr *ngIf="!isDrawerOpen"  class='hide-mobile'/>

  <div
    class="gallery"
    [fxFlex]="isDrawerOpen ? 'noshrink' : '55'" 
    fxLayout="column"
    [fxLayoutAlign]="isDrawerOpen ? 'start center' : 'start center'"
  >
    <ngx-gallery
      fxflex=""
      [options]="galleryConfig"
      [images]="galleryPictures"
    ></ngx-gallery>
  </div>
</div>
