<div class="details">
  <span class="headline" fxLayout="row">
    <kkl-typography
    fxFlex="nogrow"
    [color]="'primary'"
    [size]="1.6"
    [bold]="700"  
    appBorder
    side="bottom"
    borderColor="primary"
    [thick]="1"
    [padding]="0.8"
    >
      פרטי האיסוף</kkl-typography
    >
    <kkl-typography
      fxFlex
      [size]="1.4"
      appBorder
      side="bottom"
      borderColor="successLight"
      [thick]="1"
      [padding]="0.8"
    >
      <span> קוד איסוף : </span>
      <span>{{ details[0].objectid }}</span></kkl-typography
    >
  </span>

  <span class="main" fxLayout="row wrap" fxLayoutAlign="start start">
    <app-headline-text
      class="main__item"
      fxFlex="50%" fxFlex.gt-sm="25%"
      *ngFor="let item of headlines"
    >
      <kkl-typography class="header" header [bold]="700">
        {{ item.value }} 
      </kkl-typography>   
      <kkl-typography class="main" main [bold]="500">
        {{ details[0][item.key] }}</kkl-typography
      >
    </app-headline-text>
  </span>
</div>


<div class="amount">
  <span class="headline" fxLayout="row">
    <kkl-typography
      fxFlex="nogrow"
      [color]="'primary'"
      [size]="1.6"
      [bold]="700"  
      appBorder
      side="bottom"
      borderColor="primary"
      [thick]="1"
      [padding]="0.8"
    >
  כמות הזרעים</kkl-typography
    >
    <kkl-typography
      fxFlex
      [size]="1.6"
      appBorder
      side="bottom"
      borderColor="successLight"
      [thick]="1"
      [padding]="0.8"
    >
    </kkl-typography>
  </span>

  <span class="main" fxLayout="row wrap" fxLayoutAlign="start start">
    <app-headline-text
      class="main__item"
      fxFlex="50%" fxFlex.gt-sm="25%"

      *ngFor="let item of seedsHeadlines"
    >
      <kkl-typography class="header" header [bold]="700">
        {{ item.value }}
      </kkl-typography>
      <kkl-typography class="main" main [bold]="500">
        {{ amount[item.key] }}</kkl-typography
      >
    </app-headline-text>
  </span>
</div>






