@use "variables" as main;


form,
kkl-form-input {
  width: 100%;
  font-size: main.spacing(2);
}

// margin and padding of mat-form-field
.btn-form {
  margin:3px 0px;
  padding-bottom: 16.125px;
}

