<div class="new-spatial-table" fxLayout='column'>
  <app-filters [treeTypes]='filtersArr' (filterValueEmitter)='onFilterChange($event)'></app-filters>

        <kkl-table
        [data$]="data$"
        [columns$]="columns$"
        [model]="model" 
        [options]="options"
        [hasState]="true"
        [hasStatus]="true"
        [rowSlots]='{actions}'
        [filterable]="true"
        [rowsState$]="rowsState$" 
        [columnsState$]="columnsState$"
        [hasActions]="true"
        [headerSlots]="{ actions: actionsHeader }"
        >
    </kkl-table>

</div>

<ng-template #actionsHeader let-row="row">
  <ng-container  *ngIf="events$ | async as event">
    <div  fxLayout="row" fxLayoutAlign="end center" fxFill> 

      <kkl-table-create-button
      [event]="event"
      label="הוסף " 
      (createEvent)="onCreateEvent()"
      ></kkl-table-create-button>
    </div>
  </ng-container>
</ng-template>



<ng-template #actions let-row="row" let-column="column" let-panel="panel">
  <ng-container *ngIf="events$ | async as event">

    <div fxLayout="row" fxLayoutAlign="end center" dir="rtl">
      <kkl-table-actions
      fxFill
      [row]='row'
      [events$]="events$"
      [options]="{row, column, panel}"
      [hasDelete]="true"
      [editable]="row.editable"
      (edit)="onEditState(row)"
      (cancel)="onCancelEvent(row, event)"
      (delete)="onDeleteState({row, event})"
      (save)="onSaveContact(row, event)"
      ></kkl-table-actions>
    </div>
  </ng-container>
</ng-template>