<kkl-table
  [data$]="data$"
  [columns$]="columns$"
  [model]="model"
  [options]="options"
  [hasState]="true"
  [hasStatus]="true"
  [filterable]="true"
  [rowSlots]="{ actions}"
  [rowsState$]="rowsState$"
  [columnsState$]="columnsState$"
  [hasActions]="true"
  (filter)="getFiltersOfTable($event)"
  (sortChange)="onSortChange($event)"
>
</kkl-table>

<ng-template #actions let-row="row" let-column="column" let-panel="panel">
  <ng-container *ngIf="events$ | async as event">
    <div fxLayout="row" fxLayoutAlign="end center" dir="rtl">
      <kkl-table-actions
        fxFill
        [row]="row"
        [events$]="events$"
        [options]="{row, column, panel}"
        [hasDelete]="true"
        [editable]="row.editable"
        (edit)="onEditState(row)"
        (cancel)="onCancelEvent(row, event)"
        (delete)="onDeleteState({row, event})"
        (save)="onSaveContact(row, event)"
      ></kkl-table-actions>
    </div>
  </ng-container>
</ng-template>
