@use "variables" as main;

.icon-container {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
}
mat-icon {
  width: auto;
  height: auto;
}
