<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxFill
    dir="rtl"
    [fxLayout]="direction"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutAlign.lt-sm="space-evenly center"
    class="steps-container"
  >
    <ng-container
      *ngFor="let step of steps$ | async; let i = index; let last = last"
    >
      <div appSize [type]="step.type" [size]="6" [step]="step">
        <ng-container *ngIf="!stepRef">
          <ng-container [ngSwitch]="step.type">
            <ng-container *ngSwitchCase="'step'">
              <kkl-card-step
                (changeStep)="onChangeStep(step)"
                [step]="step"
              ></kkl-card-step>
            </ng-container>
            <ng-container *ngSwitchCase="'wizard'">
              <kkl-card-wizard
                (changeStep)="onChangeStep(step)"
                [step]="step"
              ></kkl-card-wizard>
            </ng-container>
            <ng-container *ngSwitchCase="'status'">
              <kkl-card-status [status]="step"></kkl-card-status>
            </ng-container>
          </ng-container>
          <ng-content></ng-content>
        </ng-container>

        <ng-container *ngTemplateOutlet="stepRef; context: { step: this.step }">
        </ng-container>
      </div>

      <div
        *ngIf="!last && step.spacer"
        [ngClass]="{
          'divider-step': step.type === 'step',
          'divider-status': step.type === 'status'
        }"
      ></div>
    </ng-container>
  </div>
</div>
