<form [formGroup]="processForm"  class="process-form" #planingForm="ngForm">
 
  <div class="process-form__form-group" disableOptionCentering="false">
    <label class="process-form__form-group-label">סוג תוכנית</label>
    <mat-form-field class="form-control">
      <mat-select (selectionChange)="isMerchavit()" formControlName="sugeyTochniot" #select class="process-form__form-group-select">
        <mat-option [value]="option.code"
        value="{{ option.code }}"
        *ngFor="let option of planTypeOptions"
      >
        {{option.name}}
          <span class="process-form__select-option-text"></span>
      </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="process-form__form-group" disableOptionCentering="false">
    <label class="process-form__form-group-label">עונת נטיעה</label>
    <mat-form-field class="form-control">
      <mat-select formControlName="onotNetia" #select class="process-form__form-group-select">
        <mat-option  [value]="option.code" *ngFor="let option of seasonOptions" value="{{ option.code }}" 
          >
          <!-- value="{{ option.code }}" -->
            <span class="process-form__season-option">
            <span>{{option.name}}&nbsp;</span>
              <span class="process-form__season-option-text" *ngIf='option.isShmita'>שנה לפני שנת שמיטה</span>
            </span>
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="process-form__form-group" disableOptionCentering="false">
    <label class="process-form__form-group-label">משתלה</label>
    <mat-form-field  class="form-control" >
      <mat-select  [disabled]="!isMerchavitParameter" formControlName="mashtelot" #select class="process-form__form-group-select">
        <mat-option
        value="{{ option.code }}" [value]="option.code"
        *ngFor="let option of gardeningOptions"
      >
      <!--  -->
        <span class="process-form__select-option">
          {{option.name}}
          <span class="process-form__select-option-text"></span>
        </span>
      </mat-option>
      </mat-select>
    </mat-form-field >
  </div>
  
  <div class="process-form__form-group" disableOptionCentering="false">
    <label class="process-form__form-group-label">סטטוס</label>
    <mat-form-field  class="form-control">
      <mat-select formControlName="status" #select class="process-form__form-group-select">
        <mat-option
        value="{{ option.code }}" [value]="option.code"
        *ngFor="let option of statusOptions"
      >
        <span class="process-form__select-option">
      {{option.name}}
          <span class="process-form__select-option-text"></span>
        </span>
      </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="process-form__button-group">
    <button (click)="serachProductionProcess()" >חפש</button>
  </div>
</form>
