<div fxFill fxLayout="column" dir="rtl">
  <ng-container *ngIf="stepMap$ | async as stepMap">
    <nav fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
      <ng-container *ngIf="activeStep$ | async as activeStep">
        <!-- forward button -->
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxFill
          fxLayoutGap="1.5rem"
          fxFlex
        >
        
          <button
            mat-icon-button
            (click)="onPrev(stepMap[activeStep.value])"
            [disabled]="index === 0"
          >
            <kkl-icon
              key="arrow_forward_ios"
              color="primary"
            ></kkl-icon>
          </button>

          <!-- show current step label -->
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="1.5rem"
          >
            <kkl-typography [size]="1.8" [bold]="600">{{
              stepMap[activeStep.value].label
            }}</kkl-typography>
          </div>

          <!-- previous button -->

          <button
            mat-icon-button
            (click)="onNext(stepMap[activeStep.value])"
            [disabled]="index+1 > end"
          >
            <kkl-icon
              key="arrow_back_ios"
              color="primary"
            ></kkl-icon>
          </button>
        </div>

        <!-- steps items -->
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
          <ng-container *ngFor="let item of stepMap | keyvalue; let i = index">
            <div
              appBorder
              appButton
              (click)="selectStepper(item)"
              [ngClass]="{ active: item.value.isActive, button: true }"
            ></div>
          </ng-container>
        </div>
      </ng-container>
    </nav>
  </ng-container>
  <main></main>
</div>
