<div class="working-content">
  <div class="working-content__main-area">
    <app-forest-description [allForestDescriptionFaeturesToDisplay]="allContentOfTables"  *ngIf="activeStep == 0"></app-forest-description>
    <app-area-purpose [allAreaPurpuseFeaturesToDisplay]="allContentOfTables"  *ngIf="activeStep == 1"></app-area-purpose>
    <app-necessary-action [allNecessaryActionFaeturesToDisplay]="allContentOfTables" *ngIf="activeStep == 2"></app-necessary-action>
  </div>
  <div class="working-content__btn-area">
    <button
      (click)="setActiveStep('-1')"
      class="working-content__btn-area-btn"
    >
      <div class="chevron right"></div>
      חזור
    </button>
    <button
      *ngIf="activeStep < 2"
      (click)="setActiveStep('1')"
      class="working-content__btn-area-btn"
    >
      <div class="chevron left"></div>
      הבא
    </button>
  </div>
</div>
