<div class="contest-container" fxLayout="row-reverse">
  <kkl-stepper-layout 
                      (emitEndDrawerBtn)="onEndDrawerEmitted()" 
                      [fxFlex]="100" [portion$]="portion$"
                      [drawerSize$]="drawerSize$" 
                      [hasTitle]="true"
                      (changeStep)="onChangeStep($event)"
                      (selectStep)="onSelectStep($event)" 
                      [drawerBtn]="{ icon: 'bell', label: 'תזכורת' }">
    <app-page-header title></app-page-header>

    <div class="header-actions" actions fxLayout="row">

      <div class="containerr" *ngIf="openPopUp">
        <div class="small-container" (click)="listRouter(l)" *ngFor="let l of list"> {{l.subject}} </div>
      </div>

      <div (click)="openPopUp=false" [ngClass]="checkMobile ? 'disabaled':'header-icon'"  appButton matTooltip="עריכה" (click)="navigate('url')">
        <kkl-icon [size]="2" (mouseover)="openPopUp=true" [color]="'success'" [key]="'filedownload'"></kkl-icon>
      </div>
    </div>

    <router-outlet content></router-outlet>
    <kkl-navbar-bottom 
                        bottom-navbar bottomIcon="tree_top_gradient_mpk" 
                        [hasNext]="true" 
                        (previous)="onPrevious()"
                        (next)="onNext($event)">
    </kkl-navbar-bottom>
    <div class='map-side' endDrawerContent>
      <YaaranutGis-ForestryTenders [ForestryTenders]="collectSeedsGlobalId"></YaaranutGis-ForestryTenders>
    </div>
  </kkl-stepper-layout>
</div>