@use "variables" as main;

mat-toolbar {
  background-color: main.color(paper);
}



.navbar {
  height: main.$toolbar-height;
  backdrop-filter: blur(15px) saturate(70%) contrast(70%) brightness(130%);
  background-color: main.color(paper) !important;
  box-sizing: border-box;
}

kkl-stepper {
  width: 100%;
}

/* Mobile  ----------- */
@media screen and (max-width: 600px) {
  mat-toolbar {
    padding-right: 0px;

    &.mobile-status {
      padding-right: main.spacing(1);
      padding-left: main.spacing(1);
    }
  }
}
