<div class="order-plants-complete">
  <app-order-plants-complete-header
    [isOpend]="isOpend"
    (toggleEdit)="toggleEditHandler()"
    [titleObj]="title"
    [title]="'תוכנית ייצור משקי'"
  ></app-order-plants-complete-header>
  <app-order-plants-complete-form
    (toggleEdit)="toggleEditHandler()"
    [isOpend]="isOpend"
    [status]="status"
    [onatNetia]="onatNetia"
    [status]="status"
    (updateTitle)="savechangesInDB($event)"
  >
    <!-- <app-filter-cards [data]='selectedArr' [filters]='treeTypes' (filteredData)='handleFilter($event)'></app-filter-cards> -->
  </app-order-plants-complete-form>
  <div class="order-plants-complete__treeTypes">
    <div
      class="order-plants-complete__treeTypes-filter"
      *ngFor="let item of treeTypes; let i = index"
      [ngClass]="{ chosen: 'all' === item.filterValue }"
     
    >
    <!-- (click)="changeFilterValue(item)" -->
      <span class="order-plants-complete__treeTypes-filter-text">{{
        item.name
      }}</span>
      <span class="order-plants-complete__treeTypes-filter-number">{{
        item.count
      }}</span>
      <svg-icon
        class="order-plants-complete__treeTypes-filter-svg"
        src="{{ item.urlSrc }}"
      ></svg-icon>
    </div>
  </div>
  <svg-icon
    class="bottom-icon"
    src="assets/images/tree-gradient.svg"
  ></svg-icon>
  <app-new-order-plantes-complete-table
    *ngIf="filterValue === 'all'" [filtersArr]="treeTypes" (changeFilters)="changeFilters($event)"
  ></app-new-order-plantes-complete-table>

  <app-new-order-plantes-complete-expanding-table
  [kodMishpacha]="kodMishpacha" 
  [changing]="changingValue"
    *ngIf="filterValue !== 'all'"
  ></app-new-order-plantes-complete-expanding-table>

  <!-- <app-order-plants-complete-table  
  (updateFilteredMishtalot)=updateFilteredMishtalot($event)
    [tableFormArray]="regularTableFormArray"
    [tableHeaders]="selectedHeaderTable"
    [tableDataArray]="selectedArr"
    [tableDataArrayOfId]="IdArray"
    [kodMinTzemach]="IdKodMinHatzemach"
    *ngIf="filterValue === 'all'"
  >
    <div controllersHeader>
      <svg-icon 
      [ngClass]='{"chosen-icon":isFirstTable}'
        class="list-icon "
        src="assets/images/awesome-user.svg"
        (click)="tochnitYitzurYaarMishki(id)"
      ></svg-icon>
      <svg-icon
      [ngClass]='{"chosen-icon":!isFirstTable}'
        class="list-icon"
        src="assets/images/flower.svg"
        (click)="tochnitYitzurYaarMishkiByMishtalot(id)"
      ></svg-icon>
    </div>
  </app-order-plants-complete-table>
   <app-expanding-table 
    (TzmachimByMashtelotChild) = "TzmachimByMashtelot($event)"
    *ngIf="filterValue != 'all'"
    [tableDataToShow]="expandableTableDataArray"
    [tableHeaders]="expandableTableHeaders"
    [insideTableArray]="expdandableTableTablesObj"
  > <div controllersHeader>
    <svg-icon
    [ngClass]='{"chosen-icon":isFirstTable}'
      class="list-icon "
      src="assets/images/awesome-user.svg"
      (click)="tochnitYitzurYaarMishki(id)" 
    ></svg-icon>
    <svg-icon
    [ngClass]='{"chosen-icon":!isFirstTable}'
      class="list-icon"
      src="assets/images/flower.svg"
      (click)="tochnitYitzurYaarMishkiByMishtalot(id)"
    ></svg-icon>
  </div></app-expanding-table>   -->
</div>
<ng-container *ngIf='filterValue$ | async'></ng-container>
<ng-container *ngIf='showShortTable$ | async'></ng-container>
