<div class="new-order-plantes-complete-table-expandable">
  <kkl-expand-table
    #table
    [data$]="data$"
    [columns$]="columns$"
    [model]="model"
    [expendable]="true"
    [hasState]="true"
    [filterable]="false"
    [hasActions]="true"
    [selectable]="selectable"
    [options]="options"
    [rowsState$]="rowsState$"
    [columnsState$]="columnsState$"
    [expandSlots]="{
      actions: expandingArea
    }"
    [rowSlots]="{actions}"
    [headerSlots]="{ actions: actionsHeader }"
    [formSlots]="{
      ashtaol: ashtaolInput,
      gilat: gilatInput,
      golani: golaniInput
    }"
  >
  </kkl-expand-table>

</div>

<ng-template #expandingArea let-row="row" let-column="column" let-panel="panel" >
  <app-new-order-plants-complete-inner-table
    [showFullTable]="showFullTable"
    [id]="row"
  ></app-new-order-plants-complete-inner-table>
</ng-template>

<ng-template>
  <div class="header-icons" fxLayout="row" fxLayoutAlign="center center">
    <div>
      <svg-icon

      [ngClass]='{"chosen-icon":(!this.showShortTable)
    }'
        class="list-icon "
        src="assets/images/awesome-user.svg"
        (click)="emitShowShortTable(true)" 
        ></svg-icon>
        <svg-icon
        [ngClass]='{"chosen-icon":(this.showShortTable)}'
        class="list-icon"
        src="assets/images/flower.svg"
        (click)="emitShowShortTable(false)"
      ></svg-icon>
    </div>
  </div>
</ng-template>

<ng-template #actions let-row="row" let-column="column" let-panel="panel">
  <div
    (click)="onExpand({ row, column: this.column, options : {panel, key : 'id'} })"
    
  >
    <mat-icon color="primary" class="chevron"> arrow_drop_down </mat-icon>
  </div>
</ng-template>

<ng-template
  #ashtaolInput
  let-row="row"
  let-control="control"
  let-column="column"
  let-question="question"
>
  <kkl-form-input
    [ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
    [question]="column.question"
    [control]="control"
  ></kkl-form-input>
</ng-template>

<ng-template
  #gilatInput
  let-row="row"
  let-control="control"
  let-column="column"
  let-question="question"
>
  <kkl-form-input
    dir="rtl"
    [ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
    [question]="column.question"
    [control]="control"
  ></kkl-form-input>
</ng-template>
<ng-template
  #golaniInput
  let-row="row"
  let-control="control"
  let-column="column"
  let-question="question"
>
  <kkl-form-input
    [ngClass]="[checkTotalSum(row) ? 'error' : 'success']"
    [question]="column.question"
    [control]="control"
  ></kkl-form-input>
</ng-template>

<ng-template #actionsHeader let-row="row">
  <div class="header-icons" fxFill fxLayout="row" fxLayoutAlign="end center">
    <div >
     <svg-icon
     [ngClass]='{"chosen-icon":!this.showShortTable
   }'
       class="list-icon "
       src="assets/images/awesome-user.svg"
       (click)="emitShowShortTable(true)" 
       ></svg-icon>
       <svg-icon
       [ngClass]='{"chosen-icon":this.showShortTable}'
       class="list-icon"
       src="assets/images/flower.svg"
       (click)="emitShowShortTable(false)"
     ></svg-icon>
   </div>
   </div>
 
</ng-template>
