<div class="working-header">
  <div class="working-header__right">
    <h1 class="working-header__right-header">יחידת עבודה {{allHeadersToDisplay[0].trtUnit}}</h1>
    
    <span class="working-header__right-text-group">
      <svg-icon class="list__item-svg" src="assets/images/user.svg"> </svg-icon>
        {{allHeadersToDisplay[0].reporterName}} 
    </span>
    <span class="working-header__right-text-group">
      <svg-icon class="list__item-svg" src="assets/images/calendar.svg"> </svg-icon>
      {{allHeadersToDisplay[0].date|date:'shortDate'}}
    </span>
  </div>

  <div class="working-header__left">
    <span class="working-header__left-text-group">
        <svg-icon class="list__item-svg" src="assets/images/location.svg"> </svg-icon>
        {{allHeadersToDisplay[0].regionName}}
            </span>
      <span class="working-header__left-text-group">
        <svg-icon class="list__item-svg" src="assets/images/two-trees.svg"> </svg-icon>
        {{allHeadersToDisplay[0].foR_Name}}
    </span>
      <span  class="working-header__left-text-group">
        <svg-icon class="list__item-svg" src="assets/images/racing-flag.svg"> </svg-icon>
        {{allHeadersToDisplay[0].stands}}
      </span>
  </div>
</div>
