@use "variables" as main;

.pagination {
  font-size: 1.4rem !important;
  height: 4rem;

  ::ng-deep .ngx-pagination .current,
  .btn-info {
    background-color: transparent !important;
    border: 2px solid color(primary) !important;
    font-weight: 550;
    font-size: 1.4rem !important;
    color: main.color(primary) !important;
    border-radius: 5px !important;
  }

  ::ng-deep li.pagination-next>a,
  ::ng-deep li.pagination-previous>a {
    font-size: 1.4rem !important;
    color: main.color(primary) !important;
  }

  ::ng-deep .pagination-next {
    font-size: 1.4rem !important;
    padding-left: main.spacing(5) !important;
  }

  ::ng-deep .pagination-previous {
    padding-right: main.spacing(5) !important;
  }

  ::ng-deep .pagination-next a::after,
  ::ng-deep .pagination-next.disabled::after {
    display: none !important;
  }

  ::ng-deep li.pagination-previous a::before,
  ::ng-deep li.pagination-previous.disabled::before {
    display: none !important;
  }
}
