<div class="new-bee-complete-table">
    <kkl-table
      [data$]="data$"
      [columns$]="columns$"
      [model]="model"
      [options]="options"
      [hasState]="true"
      [hasStatus]="true"
      [filterable]="false"
      [rowsState$]="rowsState$"
      [columnsState$]="columnsState$"
      [hasActions]="true" 
      [rowSlots]=" {actions,onatNetia}" 
      [clickable]='true'
      (clicked)="rowClicked($event)"
    >
    </kkl-table>
  </div> 

  <ng-template #onatNetia let-row="row" let-column="column" let-panel="panel">
    {{row.item.onatNetia}}
</ng-template>
  <ng-template #actions let-row="row" let-column="column" let-panel="panel">
    <ng-container *ngIf="events$ | async as event">
      <div fxLayout="row" fxLayoutAlign="end center" dir="rtl">
        <kkl-table-actions
          fxFill
          [row]="row"
          [events$]="events$"
          [options]="{row, column, panel}"
          [hasDelete]="true"
          [editable]="false"
          (edit)="onEditState(row)"
          (delete)="onDeleteState({row, event})"
        ></kkl-table-actions>
      </div>
    </ng-container>
  </ng-template>
  <ng-container *ngIf='data$ | async'></ng-container>