<div class="upload-button" [fxLayout]='globalLayout' fxFlex='100'>
  <kkl-form-input-upload [multi]="multi" [fxFlex]='buttonFlex' (fileChange)="onFileChange($event)">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <kkl-typography *ngIf="!table">{{ fileName || label }}</kkl-typography>
      <kkl-typography *ngIf="table">{{ fileName?'קובץ התווסף': label ||label }}</kkl-typography>
      <kkl-icon [size]="2" stroke="primary" key="open_border"></kkl-icon>
    </div>
  </kkl-form-input-upload>
  <div class='file-list' *ngIf='files.length !== 0  && isTable'>
    <span [matMenuTriggerFor]="menu" *ngIf='files.length !== 1'>{{files.length}} קבצים מצורפים</span>
    <span [matMenuTriggerFor]="menu" *ngIf='files.length == 1'>1 קובץ מצורף</span>
    <mat-menu #menu="matMenu">
      <div class="namesFiles" *ngIf='files.length !== 0' [fxLayout]='boxLayout' [disableRipple]="true">
        <div class="box" *ngFor="let file of files; let i=index">
          <span class="file">{{file.name}} </span>
          <kkl-icon (click)="removeFile(i)" [color]="'primary'" class="cancel-icon1" size='1.5' type="svg" key="cancel">
          </kkl-icon>
        </div>
      </div>
    </mat-menu>
  </div>
  <div class="namesFiles" *ngIf='files.length !== 0 && !isTable' [fxLayout]='boxLayout'>
    <div class="box" *ngFor="let file of files; let i=index">
      <span class="file">{{file.name}} </span>
      <kkl-icon (click)="removeFile(i)" [color]="'primary'" class="cancel-icon1" size='1.5' type="svg" key="cancel">
      </kkl-icon>
    </div>
  </div>
</div>
<!-- 
<ng-template #filesTemplate>
  <div class="namesFiles">
    <ng-container *ngFor="let file of files; let i=index">
      <div class="box">
        <div class="file">{{file.name}} </div>
        <kkl-icon (click)="deleteFile(i)" [color]="'primary'" class="cancel-icon1" size='1.5' type="svg" key="cancel">
        </kkl-icon>
      </div>
    </ng-container>
  </div>
</ng-template> -->