<form [formGroup]="form">
  <table class="table">
    <thead [ngClass]="{ thead: headerBorder }">
      <tr>
        <th
          *ngFor="let item of tableHeaders"
          [attr.colspan]="tableHeaders.length"
        >
          {{ item }}
        </th>
        <th *ngIf="isControllers" [attr.colspan]="tableHeaders.length">
          <ng-content select="[controllersHeader]"></ng-content>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="editRow > -1" 
        >
        <td
          *ngFor="let input of tableFormArray" 
          [attr.colspan]="tableHeaders.length"
        >
          <input 
          *ngIf="input.autoComplete"
          type="text"          
           class="input__text"
          [matAutocomplete]="auto" 
          [formControl]="minHatzemach"
         [formControlName]="input.key" 
          [id]="input.key"
          [attr.disabled]='input.disabled'

        
        />
        <mat-autocomplete  #auto="matAutocomplete" class="auto-complete">
          <mat-option 
            *ngFor="let item of filteredPlantType | async"
            [value]="item.name"
          >
            <div class="auto-complete-option">
              <span>{{ item.name }}</span>
              <span>{{ item.code }}</span>
            </div>
            <div class="plant-family">
              <span>{{ item.mishpacha }}</span>
              <svg-icon src="{{ item.icon }}" class="family-icon"></svg-icon>
            </div>
          </mat-option>
        </mat-autocomplete>





          <input
            *ngIf="!input.autoComplete"
            class="input__text"
            type="text" 
            [attr.disabled]='input.disabled'
            [formControlName]="input.key"
            [id]="input.key"
            [type]="input.type"
          />
        </td>
        <td [attr.colspan]="tableHeaders.length">
          <div class="controllers">
            <span class="controllers-edit" (click)="submitForm()">שמור</span>
            <span class="controllers-delete" (click)="clearForm()">סגור</span>
          </div>
        </td>
      </tr>
      <tr *ngFor="let row of tableDataToShow; let i = index">
        <td
          [attr.colspan]="tableHeaders.length"
          *ngFor="let cell of tableDataArrayKeys"
        >
          {{ row[cell] }}
        </td>
        <td [attr.colspan]="tableHeaders.length" *ngIf="row.controllers">
          <!-- <ng-content select="[controllersB]"></ng-content> -->

          <div class="controllers" *ngIf="row.controllers">
            <span class="controllers-edit" (click)="editRowHandler(i)"
              >עדכון</span
            >
            <span class="controllers-delete" (click)="deleteRowHndler(i)"
              >מחק</span
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<app-pagination-new 
  (newPage)="updateTableArray($event)"
  [pagesCount]="pagesCount"
  paginationCount="8"
  currentPage="1"
></app-pagination-new >
