<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>App Component</h3>
      <hr>
      <app-servers></app-servers>
      <hr>
      <!-- Assignment 3: Practicing Directives - <app-practicing-directives></app-practicing-directives> -->
      <!-- Assignment 2: Practicing Databinding - <app-practicing-dataBinding></app-practicing-dataBinding> -->
      <!-- Assignment 1: Practicing Components
        <!-- <app-warning-alert></app-warning-alert> -->
        <!-- <app-success-alert></app-success-alert> -->
      -->
    </div>
  </div>
</div>
