button {
  width: 100%;
}
.form-input-upload {
  overflow: hidden;

  ::ng-deep mat-icon {
    height: auto!important;
  }
  ::ng-deep .mat-button-wrapper > div {
    align-items: stretch!important;
  }
}