<!-- <div appButton>
  <mat-form-field [appearance]="'outline'">
    <mat-label>{{ question.label }}</mat-label>
    <ngx-mat-file-input [formControl]="control" [multiple]="multi">
      <mat-icon *ngIf="question?.icon">{{ question.icon }}</mat-icon>
    </ngx-mat-file-input>
  </mat-form-field>
</div> -->
<div class="form-input-upload">
  <button appBorder [thick]="2" type="button" mat-button (click)="fileUpload.click()">
    <ng-content></ng-content>
  </button>
  <input hidden type="file" [formControl]="control" #fileUpload [multiple]="multi" />
</div>
