<div [ngClass]="type" fxLayout="column" fxFill>
  <div
    (click)="onStepClick()"
    [matBadge]="step.value"
    matBadgeColor="accent"
    matBadgeSize="medium"
    fxFill
  >
    <mat-card
      appVariant
      [type]="step.type"
      [variant]="step.variant"
      [ngClass]="{
        'mat-elevation-z0': true,
        active: (active$ | async)
      }"
    >
      <mat-card-content appButton>
        <div fxLayout="column">
          <div fxLayout="column" fxLayoutAlign="end center">
            <kkl-icon
              [color]="(active$ | async) ? 'paper' : 'primary'"
              [key]="step.svgUrl"
              [size]="step.size"
            >
            </kkl-icon>
          </div>
          <div
            [ngClass]="{ active: (active$ | async) }"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <kkl-typography
              [color]="(active$ | async) ? 'paper' : 'text'"
              [size]="1.2"
              [bold]="(active$ | async) ? 600 : 500"
            >
              {{ step.label }}
            </kkl-typography>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
