<div class="spatial-form" [ngClass]="{ 'fade-in': !isOpend, 'fade-out': isOpend }">
    <form class="process-form" #planingForm="ngForm">
      <!-- <div class="process-form__form-group" disableOptionCentering="false">
        <label class="process-form__form-group-label">עונת נטיעה</label>
        <mat-form-field>
          <mat-select  #select required name='plantingSeason' ngModel class="process-form__form-group-select">
            <mat-option   value="{{ option.code }}" *ngFor="let option of seasonOptions">
              <span class="process-form__season-option">
                <span>{{ option.name }}&nbsp;</span>
                <span class="process-form__season-option-text" *ngIf="option.isShmita">שנה לפני שנת שמיטה</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="process-form__form-group" disableOptionCentering="false">
        <label class="process-form__form-group-label">סטטוס</label>
        <mat-form-field >
          <mat-select   #select name='status'  required class="process-form__form-group-select" [ngModel] = "selectedStatus.code.toString()" >
            <mat-option   value="{{ option.code }}" *ngFor="let option of statusOptions" (click) = "selectedStatus = option;">
              <span class="process-form__select-option">
                {{ option.name }}
                <span class="process-form__select-option-text"></span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- <div class="process-form__form-group-text">
        <div class="process-form__form-group-text-label">הערה</div>
        <mat-form-field id="input" class="process-form__form-group-text-input">
          <input matInput type="text" name='comment' ngModel />
        </mat-form-field>
      </div> -->
      <div class="form-button">
        <!-- an atribute of the botton שמור -->
        <!-- [disabled]="planingForm.form.invalid" -->
        <button (click)='updateTitleObj(planingForm);toggleEditHandler();' 
        [ngClass]="!planingForm.form.invalid ? 'hover' : null" >שמור</button>
      </div>
    </form>
  </div>