<div class="main" dir="rtl">
  <div class="header">
    <div class="title">
      <h1>תיחורים</h1>
    </div>
  </div>

  <div class="search-bar">
    <kkl-form-autocomplete
      fxFill
      [question]="question"
      [options$]="options$"
      [control]="control"
    ></kkl-form-autocomplete>
  </div>

  <div class="table">
    <kkl-table
      [data$]="data$"
      [columns$]="columns$"
      [model]="model"
      [options]="options"
      [hasState]="true"
      [rowSlots]="{subTenderName}"
      [rowsState$]="rowsState$"
      [filterable]="true"
      
      [columnsState$]="columnsState$"
      [formSlots]="{}"
      (sortChange)="onSortChange($event)"
      (filter)="getFiltersOfTable($event)"
      (filterAutocomplete)="onFilterAutocomplete($event)"
      
    >
    </kkl-table>
  </div>
  <div class="bottom-icon">
    <div fxLayout="column" fxLayoutAlign="center center">
      <kkl-icon
        type="svg"
        [size]="20"
        [key]="'tree_top_gradient_mpk'"
      ></kkl-icon>
    </div>
  </div>
</div>

<ng-template let-row="row" let-column="column" #subTenderName>
    <span appButton appBorder appColor side='bottom' color="primary" (click)='contestNameClicked(row)'>{{ row.item.subTenderName }}</span>
  <!-- <kkl-typography appButton appBorder side='bottom' color="primary" (click)='contestNameClicked(row)'>{{ row.item.contestName }}</kkl-typography> -->
</ng-template>