<div class="add-bee-complete">
    <app-order-plants-complete-header [titleObj]= "title" [title]="'תוכנית ייצור מרעה דבורים'" [isOpend]="isOpend"
      (toggleEdit)="toggleEditHandler()"></app-order-plants-complete-header>
    <app-order-plants-complete-form  (updateTitle)="savechangesInDB($event)" (toggleEdit)="toggleEditHandler()" [isOpend]="isOpend">
    </app-order-plants-complete-form>
    <app-filters [treeTypes]="treeTypes" (filterValueEmitter)="handleFilterValue($event)"></app-filters>
    <!-- <app-order-plants-complete-table (updateFiltered)="updateFiltered($event)" [tableDataArrayOfId]="IdArray" [tableFormArray]="tableForm" [tableHeaders]="tableHeaders"
      [tableDataArray]="tableData">
    </app-order-plants-complete-table> -->
    <app-new-bee-complete-table [treeTypes]="treeTypes"></app-new-bee-complete-table>
    
  </div> 