<div class="working-unit">
  <div class="working-unit__content">
    <app-working-header
      [allHeadersToDisplay]="allObjectAfterSearchWorkUnits"
    ></app-working-header>
    <app-working-steps
      class="working-steps"
      [steps]="[steps]"
      (changeActiveStep)="changeActiveStep($event)"
      activeStep="{{ activeStep }}"
    ></app-working-steps> 
    <app-working-content
      [allContentOfTables]="allObjectAfterSearchWorkUnits"
      (changeActiveStep)="changeActiveStep($event)"
      activeStep="{{ activeStep }}"
      class="working-content"
    ></app-working-content>
    <svg-icon
      class="bottom-icon"
      src="assets/images/tree-gradient.svg"
    ></svg-icon>
  </div>
<div class="map-side">
  <YaaranutGis-workUnit [workUnits]="workUnit"></YaaranutGis-workUnit>

</div>
</div>
<app-spinner-old
  *ngIf="allObjectAfterSearchWorkUnits == null"
></app-spinner-old> 

<!-- <app-navigation backLink="/forestry/results"></app-navigation> -->
